.container {
    margin-top: 50px;
}

#sidebar {
    /*background-color: tomato;*/
    height: 600px;
}

#content {
    /*background-color: royalblue;*/
    height: 600px;
}

#v-pills-tabContent {
    margin: auto;
}

a {
    text-decoration: none;
}

#lists{
    margin-top: 30px;

    /*margin-top: 70px;*/
    /*position: fixed;*/
    /*width: 280px;*/

}

#form-search{
    margin: 15px;
}

#phoneAddGroup{
    margin: auto;

}

#add-phone-card{
    padding: 0;
}

#modify-card{
    padding-left: 30px;
    padding-right: 30px;
}

#modify-card input[type="text"]{
    width: 270px;
}


#modify-card input[type="password"]{
    width: 270px;
}

#modify-card input[type="tel"]{
    width: 270px;
}

#config-button{
    width: 100px;
    margin: auto;
}